/* ===================== Responsive Css ================= */


@media (max-width: 576px) { 
    .main_nav{
        display: none;
    }

    .container{
        width: 100%;
    }

    .hero_section{
        display: inline-block;
    }
    .hero-img img {
        max-width: 370px;
        margin: 30px 0px;
    }

    .hero-content h1{
        text-align: center;
        font-size: 48px;
        width: 100%;

    }
    .play_btn{
        width: 100%;
    }

    .play_btn i {
        left: 47%;
    }

    .hero-content p{
        text-align: center;
        width: 100%;
        padding: 0 20px;
    }

    .extra_info{
        text-align: center;
        padding: 0 20px;
    }


    .service_group{
        flex-direction: column;
    }

    .sub_heading h2{
        text-align: center;
        font-size: 35px;
    }

    .service_list{
        grid-template-columns: repeat(1, 1fr);
    }

    .service_check{
       text-align: center;
    }

    .icon_bg{
       margin: 0 auto;
       transform: translateX(20%) ;
       -webkit-transform: translateX(20%) ;
       -moz-transform: translateX(20%) ;
       -ms-transform: translateX(20%) ;
       -o-transform: translateX(20%) ;
}


/* ========  Work Section =============== */

.work_group{
    flex-direction: column;
    gap: 30px;
}
.showing_work{
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: 0;
}





 }


/* Medium Screen  */

