@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

/* Global Style */


a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

header{
    width: 1780px;
    margin: 0 auto;
    min-height: 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.main_nav a {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}



.right_nav ul li{
    display: inline-block;
    margin: 0 20px;
}

.fa-bars {
    font-size: 30px;
}

.fa-user{
    font-size: 20px;
}

.main_nav a:hover{
    color: #FF3E4A;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

.active{
    color: #FF3E4A !important;
}