@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
.hero{
    background-image: url('https://images.unsplash.com/photo-1467094568967-95f87ee9c873?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80');
    background-size: cover;
    background-position: center;
}